
<%= form_for [:admin, @image], :url => admin_taxon_enhanced_banners_path(:taxon_id => @taxon.id), :html => { :multipart => true } do |form| %>
  <div class="form-fields">
  	<%= form.file_field :attachment %>
  </div>
  <div class="form-actions">
  	<%= form.submit "Add Banner" %>
  </div>
<% end %>