<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<h2>Select taxon to see banners</h2>

<div id="container-taxon-table" data-hook="admin-container-table-add-banner-taxon">
	<table id="taxon-table" data-hook="admin-table-add-banner-taxon">
		<thead>
			<tr>
				<th>Taxons</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @taxons.each do |taxon| %>
				<tr>
					<td>
						<%= taxon.name %>
					</td>
					<td>
						<%= link_to "Go to banners", admin_taxon_enhanced_banners_path(:taxon_id => taxon.id) %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>